black
flake8
pytest
mypy
docformatter
pre-commit
datasets==2.19.1
matplotlib==3.8.4
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
scipy==1.10.1
sentence-transformers==2.6.1
simpletransformers==0.70.1
spacy
statsmodels
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.2.2
tqdm==4.66.2
transformers==4.41.2